{%include 'header.html'%}

    <!--main section start-->
    <main>
        <div class="container-fluid mb-5">
            <div class="row about-row">
                <div class="col-md-3 p-5 about-col">
                    <h2 class="mt-5 pt-5 animate__animated animate__fadeInDown">About Us</h2>
                </div>
                <div class="col-md"></div>
            </div>


            <!--further start-->
            <div class="container">
                <div class="row mb-5 mt-5">
                    <div class="col-md">
                        <img src="{{url_for('static',filename = 'image/open-arched-window.jpg')}}" height="500px" width="100%"   alt=" window">
                    </div>

                    <div class="col-md px-5 mt-5">
                        <h1 class="mt-5 animate__animated animate__fadeInRight" style="color: rgb(6, 51, 51); font-weight:600;">Recognize Further About <br>Us To Get Offer Info</h1>
                        <p class="col3-para2 para2">At Olayiwola Aluminum, we take immense pride in our legacy of excellence. With decades of experience in the industry, we have mastered the art of creating top-tier aluminum products that cater to your unique needs. Our commitment to innovation, sustainability, and customer satisfaction sets us apart as a trusted name in the market. Recognize further about us and avail exclusive offers and insights into the latest industry trends.</p>
                        <div>
                          <a  href="{{url_for('about')}}" class="px-5 py-3 btn">Read More</a>
                          <a href="{{url_for('project_shower_cubicle')}}"class="px-4 col3-para2 para3">View Our Projects <img src="{{url_for('static',filename = 'image/icons-arrow.png')}}" alt="arrow icon"></a>
                        </div>
                        
                        <div class="row">
                            <div class="col-md">
                                <p class="mb-0 first-p">12+</p>
                                <p class="col3-para2 para2">Years Experience</p>
                            </div>

                            <div class="col-md">
                                <p class="mb-0 first-p">52K</p>
                                <p class="col3-para2 para2">Project Complete</p>
                            </div>

                            <div class="col-md">
                                <p class="mb-0 first-p">95%</p>
                                <p class="col3-para2 para2">Like Our Project</p>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
             <!--further end-->

            <!--start-->
            <div class="container">
                <div class="row mb-3">
                    <div class="col-md content p-5">
                        <h2 class="text-center animate__animated animate__zoomIn">Our Legacy</h2>
                        <p class="text-center para2">With a proud legacy spanning several years, Olayiwola Aluminum has established itself as a leading provider of high-quality aluminum doors, windows, facades, and more. Our unwavering commitment to excellence and customer-centric approach has garnered us a loyal clientele and an inspiring portfolio of successful projects.</p>
                    </div>

                    <div class="col-md content p-5">
                        <h2 class="text-center px-3 animate__animated animate__zoomIn">Craftsmanship at its Finest</h2>
                        <p class="text-center para2">At Olayiwola Aluminum, we believe that craftsmanship is the essence of every remarkable creation. Our team of skilled artisans and professionals passionately blend artistry with precision engineering to craft aluminum installations that are not only visually stunning but also functionally superior.</p>
                    </div>

                    <div class="col-md content p-5">
                        <h2 class="text-center animate__animated animate__zoomIn">Innovation & Technology</h2>
                        <p  class="text-center para2">Innovation is the heartbeat of our operations. We continually stay ahead of the curve, leveraging cutting-edge technology and industry best practices to design and manufacture aluminum solutions that meet the evolving needs of modern spaces.</p>
                    </div>
                </div>


                <div class="row mb-3">
                    <div class="col-md content p-5">
                        <h2 class="text-center animate__animated animate__zoomIn">Unrivaled Quality</h2>
                        <p class="text-center para2">Quality is the cornerstone of everything we do. From sourcing premium materials to stringent quality checks, we leave no stone unturned in ensuring that our products and services meet the highest standards of durability and performance.</p>
                    </div>

                    <div class="col-md content p-5">
                        <h2 class="text-center px-2 animate__animated animate__zoomIn">Customer <br>Centric Approach</h2>
                        <p class="text-center para2">Our customers are at the heart of our success. We value your trust and seek to understand your unique requirements to offer personalized solutions that align with your vision. Your satisfaction is our ultimate reward, and we are dedicated to providing an exceptional experience from the first interaction to project completion.</p>
                    </div>

                    <div class="col-md content p-5">
                        <h2 class="text-center px-3 animate__animated animate__zoomIn">A Diverse Range of Services</h2>
                        <p class="text-center para2">Our expertise spans a diverse range of aluminum products and services. Whether you seek elegant doors and windows, innovative facades, or bespoke retail space designs, we have the expertise to cater to your needs.</p>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md content p-5">
                        <h2 class="text-center animate__animated animate__zoomIn">Sustainable Solutions</h2>
                        <p class="text-center para2">As responsible corporate citizens, we are committed to sustainability and environmental stewardship. Our aluminum solutions are designed with energy efficiency in mind, making them eco-friendly and contributing to greener living spaces.</p>
                    </div>

                    <div class="col-md content p-5">
                        <h2 class="text-center animate__animated animate__zoomIn">Transparency & Integrity</h2>
                        <p class="text-center para2">At Olayiwola Aluminum, honesty and integrity are the pillars of our relationships with clients and partners. We uphold transparent communication, fair practices, and ethical business conduct in every aspect of our operations.</p>
                    </div>

                    <div class="col-md content p-5">
                        <h2 class="text-center animate__animated animate__zoomIn">Join the Olayiwola Aluminum Family</h2>
                        <p class="text-center para2">Experience the difference of working with a team that values your vision, cherishes craftsmanship, and puts you at the forefront of every project. Join the Olayiwola Aluminum family and embark on a journey of transforming spaces into timeless works of art.</p>
                    </div>
                </div>

            </div>
            <!--end-->

        </div>
    </main>
     <!--main section end-->

     <!--footer section start-->
     {%include 'footer.html'%}
     <!--footer section end-->

     <script src="{{url_for('static', filename = 'bootstrap/js/bootstrap.bundle.js')}}"></script>
     <script src="{{url_for('static', filename = 'jquery.js')}}"></script>
</body>
</html>