{%include 'header.html'%}

    <!--main start-->
    <main>
        <div class="container-fluid mb-5">
            <div class="row project-row">
                <div class="col-md-3 project-col p-5">
                    <h2 class="animate__animated animate__fadeInDown mt-5 pt-5">Project</h2>
                </div>
                <div class="col-md"><h5 class="mt-5 pt-5">Witness the magnificence of our previous projects that reflect our unrivaled expertise and creativity. Our portfolio showcases an array of successfully completed ventures, each tailored to exceed expectations. Be inspired by our work and envision your next project with Olayiwola Aluminum.</h5></div>
            </div>
        </div>

         <!--Our Selected CompleteProjects start-->
         <div class="container-fluid Selected mb-5">
            <div class="container">

              <!--door start-->
              <h1 class="text-center pt-5 pb-3" style="color: rgb(6, 51, 51); font-weight:600;">Our Selected Complete Door<br> Projects</h1>
              
              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/door1.jpg')}}" alt="door" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/door2.jpg')}}" alt="door" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/door3.jpg')}}" alt="door" width="100%" height="400px"></div>
              </div>

              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/door4.jpg')}}" alt="door" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/door5.jpg')}}" alt="door" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/door6.jpg')}}" alt="door" width="100%" height="400px"></div>
              </div>

              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/door7.jpg')}}" alt="door" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/door8.jpg')}}" alt="door" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/door9.jpg')}}" alt="door" width="100%" height="400px"></div>
              </div>

              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/door10.jpg')}}" alt="door" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/door11.jpg')}}" alt="door" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/door12.jpg')}}" alt="door" width="100%" height="400px"></div>
              </div>

              <div class="row">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/door13.jpg')}}" alt="door" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/door14.jpg')}}" alt="door" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/door15.jpg')}}" alt="door" width="100%" height="400px"></div>
              </div>
              <!--door end-->


              <!--net start-->
              <h1 class="text-center pt-5 pb-3" style="color: rgb(6, 51, 51); font-weight:600;">Our Selected Complete Net<br> Projects</h1>

              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/net1.jpg')}}" alt="net" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/net2.jpg')}}" alt="net" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/net3.jpg')}}" alt="net" width="100%" height="400px"></div>
              </div>

              <div class="row">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/net4.jpg')}}" alt="net" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/net5.jpg')}}" alt="net" width="100%" height="400px"></div>
              </div>
              <!--net end-->
            </div>
         </div>
          <!--Our Selected CompleteProjects end-->
    </main>
    <!--main end-->

     <!--footer start-->
    {%include 'footer.html'%}
    <!--footer end-->
    
    <script src="{{url_for('static', filename = 'bootstrap/js/bootstrap.bundle.js')}}"></script>
    <script src="{{url_for('static', filename = 'jquery.js')}}"></script>
</body>
</html>