<footer>
    <div class="p-5">
      <div class="row m-5">

        <div class="col-md">
          <img src="{{url_for('static', filename = 'image/logo.png')}}" height="50px" alt="" style="float: left; margin-right:5px;">
          <p style="font-size: 20px;" class="mt-2"><b>Olayiwola Aluminum</b></p>
          <p>Your Trusted Aluminum Solutions Provider.</p>
        </div>

        <div class="col-md">
          <p style="font-size: 20px;" class="mt-2">Useful Links</p>
          <p><a href="{{url_for('service')}}">Services</a></p>
          <p><a href="{{url_for('project_shower_cubicle')}}">Portfolio</a></p>
        </div>

        <div class="col-md">
          <p style="font-size: 20px;" class="mt-2">Quick Links</p>
          <p><a href="{{url_for('home')}}">Home</a></p>
          <p><a href="{{url_for('about')}}">About us</a></p>
          <p><a href="{{url_for('contact')}}">Contact</a></p>
          <p><a href="{{url_for('blog')}}">News & Article</a></p>
        </div>
      
        <div class="col-md">
          <p style="font-size: 20px;" class="mt-2">Contact us</p>
          <p><i class="fa fa-phone" aria-hidden="true"></i> 08027123719</p>
          <p><a href="mailto:abimbolao846@gmail.com" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i> abimbolao846@gmail.com</a></p>
          <p><i class="fa-sharp fa-location-dot"></i> NO 17 Hendene Street Ibafo Ogun State</p>
        </div>
       
        <hr class="mt-5">
        <p>&copy; 2023 Olayiwola Aluminum. All rights reserved. <a href="mailto:oyebadetaiwo17@gmail.com" target="_blank">Developed By Oyebade Taiwo</a> | <span>07025262758</span></p>
      </div>
      
    </div>
  </footer>