{% include 'header.html'%}

    <main>
        <div class="container-fluid">
            <!--header banner start-->
            <div class="row col1">
                <div class="col-md-3 p-5 ban">
                    <h1 class="animate__animated animate__fadeInDown">We Are The Best Services Aluminum<br> & Glass</h1>
                    <p><em>At Olayiwola Aluminum, we take pride in being a leading aluminum company that delivers high-quality solutions for all your aluminum needs.<br> Whether you're looking for custom-made aluminum products or professional installation services, we've got you covered.</em></p>  
                </div>

                <div class="col-md">
                    <div class="row p-5 col-8 rows">
                        <div class="col-md rows-cols">
                            <div class="rows-cols-1">
                                <p class="mt-3 mb-0 animate__animated animate__fadeInUp">Totality in work</p>
                            </div>
                            <div class="col2"></div>
                        </div>

                        <div class="col-md py-3 col3">
                                <p class="m-2 col3-para1">Onetime deadline</p>
                                <p class="m-2 col3-para2">At Olayiwola Aluminum, we take deadlines seriously.</p>
                    
                                <p class="m-2 col3-para1">Fulltime Support</p>
                                <p class="m-2 col3-para2">We offer comprehensive support throughout your project journey.</p>
                        </div>
                    </div>
                </div>
            </div>
             <!--header banner end-->

             <!--further start-->
             <div class="container">
                <div class="row mb-5 mt-5">
                    <div class="col-md">
                        <img src="{{url_for('static', filename = 'image/open-arched-window.jpg')}}" height="500px" width="100%"   alt=" window">
                    </div>

                    <div class="col-md px-5 mt-5">
                        <h1 class="mt-5 animate__animated animate__fadeInRight" style="color: rgb(6, 51, 51); font-weight:600;">Recognize Further About <br>Us To Get Offer Info</h1>
                        <p class="col3-para2 para2">At Olayiwola Aluminum, we take immense pride in our legacy of excellence. With decades of experience in the industry, we have mastered the art of creating top-tier aluminum products that cater to your unique needs. Our commitment to innovation, sustainability, and customer satisfaction sets us apart as a trusted name in the market. Recognize further about us and avail exclusive offers and insights into the latest industry trends.</p>
                        <div>
                          <a  href="{{url_for('about')}}" class="px-5 py-3 btn">Read More</a>
                          <a href="{{url_for('project_shower_cubicle')}}"class="px-4 col3-para2 para3">View Our Projects <img src="{{url_for('static', filename = 'image/icons-arrow.png')}}" alt="arrow icon"></a>
                        </div>
                        
                        <div class="row">
                            <div class="col-md">
                                <p class="mb-0 first-p">12+</p>
                                <p class="col3-para2 para2">Years Experience</p>
                            </div>

                            <div class="col-md">
                                <p class="mb-0 first-p">52K</p>
                                <p class="col3-para2 para2">Project Complete</p>
                            </div>

                            <div class="col-md">
                                <p class="mb-0 first-p">95%</p>
                                <p class="col3-para2 para2">Like Our Project</p>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
             <!--further end-->


            <!--choose our services start-->
            <div class="container mb-5">
                <div class="row">
                    <div class="col-md">
                        <h1 class="text-center" style="color: rgb(6, 51, 51); font-weight:600;">Choose Our Services &<br>Get Best</h1>

                        <div class="row row-parent">
                            <div class="col-md p-3 mx-2 our-service">
                              <img src="{{url_for('static', filename = 'image/icons-door.png')}}" alt="Door Icon">
                                <p class="mt-2">Making Door</p>
                                <p class="para2 col3-para2">High quality doors crafted to perfection.</p>
                            </div>

                            <div class="col-md p-3 mx-2 our-service">
                              <img src="{{url_for('static', filename = 'image/icons-window.png')}}" alt="Window Icon">
                                <p class="mt-2">Windows</p>
                                <p class="para2 col3-para2">High quality windows crafted to perfection.</p>
                            </div>

                            <div class="col-md p-3 mx-2 our-service">
                              <img src="{{url_for('static', filename = 'image/icons-blinds.png')}}" alt="Window Blind">
                                <p class="mt-2">Window Blind</p>
                                <p class="para2 col3-para2">High quality window blinds crafted to perfection.</p>
                            </div>

                            <div class="col-md p-3 mx-2 our-service">
                              <img src="{{url_for('static', filename = 'image/icons-cubicle.png')}}" alt="Shower cubicle">
                                <p class="mt-2">Shower cubicle</p>
                                <p class="para2 col3-para2">High quality shower cubicles crafted to perfection.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--choose our services end-->
        </div>

        <!--Our Selected CompleteProjects start-->
        <div class=" container-fluid Selected mb-5">
          <div class="container">
            <h1 class="text-center pt-5 pb-3" style="color: rgb(6, 51, 51); font-weight:600;">Our Selected Complete <br>Projects</h1>

            <div class="row mb-3">
              <div class="col-md-7"><img src="{{url_for('static', filename = 'image/shower cubicle 14.jpg')}}" alt="shower cubicle " width="100%" height="250px"></div>
              <div class="col-md-5"><img src="{{url_for('static', filename = 'image/door11.jpg')}}" alt="door" width="100%" height="250px"></div>
            </div>

            <div class="row mb-3">
              <div class="col-md"><img src="{{url_for('static', filename = 'image/window11.jpg')}}" alt="window" width="100%" height="300px"></div>
              <div class="col-md"><img src="{{url_for('static', filename = 'image/kitchen1.jpg')}}" alt="kitchen shef" width="100%" height="300px"></div>
            </div>

            
            <div class="row">
              <div class="col-md"><img src="{{url_for('static', filename = 'image/kiosh1.jpg')}}" alt="kiosh" width="100%" height="300px"></div>
              <div class="col-md"><img src="{{url_for('static', filename = 'image/net1.jpg')}}" alt="net" width="100%" height="300px"></div>
              <div class="col-md"><img src="{{url_for('static', filename = 'image/step-f11.jpg')}}" alt="framless-glass" width="100%" height="300px"></div>
            </div>

          </div>
        </div>
         <!--Our Selected CompleteProjects end-->


          <!--share start-->
          <div class="container-fluid mb-5">
            <div class="row  share">
              <div class="col-md share-1">
                <h1 class="mt-5 pt-5">Don't hesitate to share<br> your project with us,<br> we work in totality</h1>
                <a href="{{url_for('contact')}}" class="px-5 py-3 btn btn-share">Share Now</a>
              </div>
              <div class="col-md"></div>
            </div>
          </div>
       <!--share end-->


       <!--Articles & New start-->
       <div class=" container-fluid">
        <div class="container">
          <h1 class="text-center pt-5 pb-3" style="color: rgb(6, 51, 51); font-weight:600;">Articles & News</h1>   
          <div class="row mb-5">

            <div class="col-md">
              <img src="{{url_for('static', filename = 'image/building.jpg')}}" alt="image" width="100%" height="300px">
              <h5 class="mt-3 mb-3">Maximizing natural light how aluminum windows enhance your living space</h5>
              <p class="para2 col3-para2">Discover how aluminum windows can brighten up your interiors and create a more welcoming ambiance.</p>
            </div>
        
            <div class="col-md">
              <img src="{{url_for('static', filename = 'image/city-background-panoramic-view.jpg')}}" alt="image" width="100%" height="300px">
              <h5 class="mt-3 mb-3">The beauty of aluminum facades enhancing the exterior appeal of commercial buildings</h5>
              <p class="para2 col3-para2">Learn how aluminum facades can add a touch of sophistication and modernity to commercial structures.</p>
            </div>

            <div class="col-md">
              <img src="{{url_for('static', filename = 'image/urban-stairs.jpg')}}" alt="image" width="100%" height="300px">
              <h5 class="mt-3 mb-3">Creating open spaces aluminum partition systems redefining interior design</h5>
              <p class="para2 col3-para2">Explore the versatility of aluminum partition systems in redefining office layouts and residential spaces.</p>
            </div>
          </div>

        </div>
      </div>
       <!--Articles & New end-->
    </main>
  
<!--footer start-->
   {%include 'footer.html'%}
    <!--footer end-->

    <script src="{{url_for('static', filename = 'bootstrap/js/bootstrap.bundle.js')}}"></script>
    <script src="{{url_for('static', filename = 'jquery.js')}}"></script>
</body>
</html>




