{%include 'header.html'%}

    <!--main start-->
    <main>
        <div class="container-fluid mb-5">
            <div class="row project-row">
                <div class="col-md-3 project-col p-5">
                    <h2 class="animate__animated animate__fadeInDown mt-5 pt-5">Project</h2>
                </div>
                <div class="col-md"><h5 class="mt-5 pt-5">Witness the magnificence of our previous projects that reflect our unrivaled expertise and creativity. Our portfolio showcases an array of successfully completed ventures, each tailored to exceed expectations. Be inspired by our work and envision your next project with Olayiwola Aluminum.</h5></div>
            </div>
        </div>

         <!--Our Selected CompleteProjects start-->
         <div class="container-fluid Selected mb-5">
            <div class="container">
                
              <!--framless-partition start-->
              <h1 class="text-center pt-5 pb-3" style="color: rgb(6, 51, 51); font-weight:600;">Our Selected Complete Frameless-partition<br> Projects</h1>

              <div class="row">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/framless-partition.jpg')}}" alt="frameless-partition" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/framless-partition1.jpg')}}" alt="frameless-partition" width="100%" height="400px"></div>
              </div>
               <!--framless-partition end-->


               <!--start-->
               <h1 class="text-center pt-5 pb-3" style="color: rgb(6, 51, 51); font-weight:600;">Our Selected Complete Cotton-wall, Clouding<br>& Mirrow-glass Projects</h1>

               <div class="row">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/clouding.jpg')}}" alt="clouding" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/cotton-wall.jpg')}}" alt="cotton-wall" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/mirror-glass.jpg')}}" alt="mirror-glass" width="100%" height="400px"></div>
              </div>
               <!--end-->


               <!--start-->
               <h1 class="text-center pt-5 pb-3" style="color: rgb(6, 51, 51); font-weight:600;">Our Selected Complete Kitchen-shef<br> Projects</h1>

               <div class="row">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/kitchen1.jpg')}}" alt="kitchen-shef" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/kitchen2.jpg')}}" alt="kitchen-shef" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/kitchen3.jpg')}}" alt="kitchen-shef" width="100%" height="400px"></div>
              </div>
               <!--end-->

               
               <!--start-->
               <h1 class="text-center pt-5 pb-3" style="color: rgb(6, 51, 51); font-weight:600;">Our Selected Complete Kiosk, Show-glass<br>& Shef Projects</h1>

               <div class="row">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/kiosh1.jpg')}}" alt="kiosk" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/showglass1.jpg')}}" alt="show glass" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shef1.jpg')}}" alt="shef" width="100%" height="400px"></div>
              </div>
               <!--end-->


               <!--roofing start-->
               <h1 class="text-center pt-5 pb-3" style="color: rgb(6, 51, 51); font-weight:600;">Our Selected Complete Roofing<br>Projects</h1>

               <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/roofing1.jpg')}}" alt="roofing" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/roofing2.jpg')}}" alt="roofing" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/roofing3.jpg')}}" alt="roofing" width="100%" height="400px"></div>
              </div>

              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/roofing4.jpg')}}" alt="roofing" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/roofing5.jpg')}}" alt="roofing" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/roofing6.jpg')}}" alt="roofing" width="100%" height="400px"></div>
              </div>

              <div class="row">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/roofing7.jpg')}}" alt="roofing" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/roofing9.jpg')}}" alt="roofing" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/roofing8.jpg')}}" alt="roofing" width="100%" height="400px"></div>
              </div>
               <!--roofing end-->
            </div>
         </div>
          <!--Our Selected CompleteProjects end-->
    </main>
    <!--main end-->

     <!--footer start-->
    {%include 'footer.html'%}
    <!--footer end-->
    
    <script src="{{url_for('static', filename = 'bootstrap/js/bootstrap.bundle.js')}}"></script>
    <script src="{{url_for('static', filename = 'jquery.js')}}"></script>
</body>
</html>