{%include 'header.html'%}

     <!--main start-->
     <main>
        <div class="container-fluid mb-5">
            <div class="row project-row">
                <div class="col-md-3 project-col p-5">
                    <h2 class="animate__animated animate__fadeInDown mt-5 pt-5">Project</h2>
                </div>

                <div class="col-md"><h5 class="mt-5 pt-5">Witness the magnificence of our previous projects that reflect our unrivaled expertise and creativity. Our portfolio showcases an array of successfully completed ventures, each tailored to exceed expectations. Be inspired by our work and envision your next project with Olayiwola Aluminum.</h5></div>
            </div>
        </div>


         <!--Our Selected CompleteProjects start-->
         <div class=" container-fluid Selected mb-5">
            <div class="container">

              <!--shower cubicle start-->
              <h1 class="text-center pt-5 pb-3" style="color: rgb(6, 51, 51); font-weight:600;">Our Selected Complete Shower Cubicle<br> Projects</h1>
  
              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 14.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 1.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 19.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
              </div>
  
              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 2.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 3.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 4.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
              </div>

              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 5.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static', filename = 'image/shower cubicle 6.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 7.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
              </div>

              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 8.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 9.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 10.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
              </div>
  
              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 11.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 12.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 13.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
              </div>

              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 26.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 15.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 16.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
              </div>

              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 17.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 18.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 27.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
              </div>

              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 20.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 21.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 22.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
              </div>
  
              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 23.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 24.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 25.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
              </div>

              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 28.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 29.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 30.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
              </div>

              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 31.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 32.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 33.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
              </div>

              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 34.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 35.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 36.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
              </div>

              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 37.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 38.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 39.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
              </div>

              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 40.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 41.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 42.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
              </div>

              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 43.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 44.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 45.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
              </div>

              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 46.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 47.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 48.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
              </div>

              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 49.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 50.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 51.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
              </div>

              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 52.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 53.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 54.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
              </div>

              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 55.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 56.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 57.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
              </div>

              <div class="row">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 58.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 59.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/shower cubicle 60.jpg')}}" alt="shower cubicle" width="100%" height="400px"></div>
              </div>
               <!--shower cubicle end-->
            </div>
          </div>
           <!--Our Selected CompleteProjects end-->
     </main>
     <!--main end-->

     <!--footer start-->
   {%include 'footer.html'%}
    <!--footer end-->
    
    <script src="{{url_for('static', filename = 'bootstrap/js/bootstrap.bundle.js')}}"></script>
    <script src="{{url_for('static', filename = 'jquery.js')}}"></script>
</body>
</html>