{%include 'header.html'%}

    <!--main start-->
    <main>
        <div class="container-fluid mb-5">
            <div class="row project-row">
                <div class="col-md-3 project-col p-5">
                    <h2 class="animate__animated animate__fadeInDown mt-5 pt-5">Project</h2>
                </div>
                <div class="col-md"><h5 class="mt-5 pt-5">Witness the magnificence of our previous projects that reflect our unrivaled expertise and creativity. Our portfolio showcases an array of successfully completed ventures, each tailored to exceed expectations. Be inspired by our work and envision your next project with Olayiwola Aluminum.</h5></div>
            </div>
        </div>

         <!--Our Selected CompleteProjects start-->
         <div class="container-fluid Selected mb-5">
            <div class="container">
                
              <!--step start-->
              <h1 class="text-center pt-5 pb-3" style="color: rgb(6, 51, 51); font-weight:600;">Our Selected Complete Frameless Glass Railing<br> Projects</h1>

              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step-f1.jpg')}}" alt="frameless-glass" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step-f2.jpg')}}" alt="frameless-glass" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step-f3.jpg')}}" alt="frameless-glass" width="100%" height="400px"></div>
              </div>

              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step-f4.jpg')}}" alt="frameless-glass" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step-f5.jpg')}}" alt="frameless-glass" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step-f6.jpg')}}" alt="frameless-glass" width="100%" height="400px"></div>
              </div>

              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step-f7.jpg')}}" alt="frameless-glass" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step-f8.jpg')}}" alt="frameless-glass" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step-f10.jpg')}}" alt="frameless-glass" width="100%" height="400px"></div>
              </div>

              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step-f11.jpg')}}" alt="frameless-glass" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step-f12.jpg')}}" alt="frameless-glass" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step-f15.jpg')}}" alt="frameless-glass" width="100%" height="400px"></div>
              </div>

              <div class="row">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step-f14.jpg')}}" alt="frameless-glass" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step-f13.jpg')}}" alt="frameless-glass" width="100%" height="400px"></div>
              </div>



              <h1 class="text-center pt-5 pb-3" style="color: rgb(6, 51, 51); font-weight:600;">Our Selected Complete Stainless Steel Railing<br> Projects</h1>

              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step1.jpg')}}" alt="stainless-steel" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step2.jpg')}}" alt="stainless-steel" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step3.jpg')}}" alt="stainless-steel" width="100%" height="400px"></div>
              </div>

              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step4.jpg')}}" alt="stainless-steel" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step5.jpg')}}" alt="stainless-steel" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step6.jpg')}}" alt="stainless-steel" width="100%" height="400px"></div>
              </div>

              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step7.jpg')}}" alt="stainless-steel" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step8.jpg')}}" alt="stainless-steel" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step9.jpg')}}" alt="stainless-steel" width="100%" height="400px"></div>
              </div>

              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step10.jpg')}}" alt="stainless-steel" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step11.jpg')}}" alt="stainless-steel" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step12.jpg')}}" alt="stainless-steel" width="100%" height="400px"></div>
              </div>

              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step13.jpg')}}" alt="stainless-steel" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step14.jpg')}}" alt="stainless-steel" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step15.jpg')}}" alt="stainless-steel" width="100%" height="400px"></div>
              </div>

              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step38.jpg')}}" alt="stainless-steel" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step17.jpg')}}" alt="stainless-steel" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step18.jpg')}}" alt="stainless-steel" width="100%" height="400px"></div>
              </div>

              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step19.jpg')}}" alt="stainless-steel" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step20.jpg')}}" alt="stainless-steel" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step21.jpg')}}" alt="stainless-steel" width="100%" height="400px"></div>
              </div>

              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step22.jpg')}}" alt="stainless-steel" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step23.jpg')}}" alt="stainless-steel" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step24.jpg')}}" alt="stainless-steel" width="100%" height="400px"></div>
              </div>

              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step25.jpg')}}" alt="stainless-steel" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step26.jpg')}}" alt="stainless-steel" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step27.jpg')}}" alt="stainless-steel" width="100%" height="400px"></div>
              </div>

              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step28.jpg')}}" alt="stainless-steel" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step29.jpg')}}" alt="stainless-steel" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step30.jpg')}}" alt="stainless-steel" width="100%" height="400px"></div>
              </div>

              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step31.jpg')}}" alt="stainless-steel" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step32.jpg')}}" alt="stainless-steel" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step33.jpg')}}" alt="stainless-steel" width="100%" height="400px"></div>
              </div>

              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step34.jpg')}}" alt="stainless-steel" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step35.jpg')}}" alt="stainless-steel" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step36.jpg')}}" alt="stainless-steel" width="100%" height="400px"></div>
              </div>

              <div class="row">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step37.jpg')}}" alt="stainless-steel" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/step16.jpg')}}" alt="stainless-steel" width="100%" height="400px"></div>
              </div>
              <!--step end-->
              
            </div>
         </div>
          <!--Our Selected CompleteProjects end-->
    </main>
    <!--main end-->

     <!--footer start-->
     {%include'footer.html'%}
    <!--footer end-->
    
    <script src="{{url_for('static', filename = 'bootstrap/js/bootstrap.bundle.js')}}"></script>
    <script src="{{url_for('static', filename = 'jquery.js')}}"></script>
</body>
</html>