{% include 'header.html'%}
    <!--main start-->
    <main>
        <div class="container-fluid mb-5">
          <!--start-->
              <div class="row service-row">
                    <div class="col-md-3 p-5 service-col">
                        <h2 class="mt-5 pt-5 animate__animated animate__fadeInDown">Services</h2>
                    </div>
                    <div class="col-md"></div>
              </div>
          <!--end-->
         
          <!--start-->
          <div class="container mt-5">
            <div class="row">
              <div class="col-md">
                <h1 class="text-center animate__animated animate__fadeInRight" style="color: rgb(6, 51, 51); font-weight:600;">Choose Our Services &<br>Get Best</h1>
              </div>

              <div class="col-md">
                <p class="para2">Explore our wide range of services designed to elevate your living spaces and commercial establishments.Our services include</p>
              </div>
            </div>


            <div class="row row-parent mb-3">
              <div class="col-md p-3 mx-2 our-service">
                <img src="{{url_for('static',filename = 'image/icons-door.png')}}" alt="Door Icon">
                  <p class="mt-2">Making Door</p>
                  <p class="para2 col3-para2">High quality doors crafted to perfection.</p>
              </div>

              <div class="col-md p-3 mx-2 our-service">
                <img src="{{url_for('static',filename = 'image/icons-window.png')}}" alt="Window Icon">
                  <p class="mt-2">Windows</p>
                  <p class="para2 col3-para2">High quality windows crafted to perfection.</p>
              </div>

              <div class="col-md p-3 mx-2 our-service">
                <img src="{{url_for('static', filename = 'image/icons-blinds.png')}}" alt="Window Blind Icon">
                  <p class="mt-2">Window Blind</p>
                  <p class="para2 col3-para2">High quality window blinds crafted to perfection.</p>
              </div>

              <div class="col-md p-3 mx-2 our-service">
                <img src="{{url_for('static', filename = 'image/icons-cubicle.png')}}" alt="Shower cubicle Icon">
                  <p class="mt-2">Shower cubicle</p>
                  <p class="para2 col3-para2">High quality shower cubicles crafted to perfection.</p>
              </div>
          </div>

          
          <div class="row row-parent pb-5">
            <div class="col-md p-3 mx-2 our-service">
              <img src="{{url_for('static', filename = 'image/icons-staircase.png')}}" alt="frameless-glass icon">
                <p class="mt-2">Frameless Glass</p>
                <p class="para2 col3-para2">High quality frameless glass crafted to perfection.</p>
            </div>

            <div class="col-md p-3 mx-2 our-service">
              <img src="{{url_for('static',filename = 'image/icons-crib.png')}}" alt="stainless ray icon">
                <p class="mt-2">Stainless Ray</p>
                <p class="para2 col3-para2">High quality stainless ray crafted to perfection.</p>
            </div>

            <div class="col-md p-3 mx-2 our-service">
              <img src="{{url_for('static', filename = 'image/icons-markise.png')}}" alt="aluminum roofing icon">
                <p class="mt-2">Aluminum Roofing</p>
                <p class="para2 col3-para2">High quality aluminum roofing crafted to perfection.</p>
            </div>

            <div class="col-md p-3 mx-2 our-service">
              <img src="{{url_for('static', filename = 'image/icons-skyscrapers.png')}}" alt="Clouding icon">
                <p class="mt-2">Clouding</p>
                <p class="para2 col3-para2">High quality clouding crafted to perfection.</p>
            </div>
        </div>

          </div>
          <!--end-->


          <!--start-->
          <div class="container">
            <div class="row">
              <div class="col-md">
                <img src="{{url_for('static',filename = 'image/building-atocha.jpg')}}" alt="building" height="500px" width="100%">
              </div>

              <div class="col-md">
                <h1 class="mb-3 mt-3 animate__animated animate__fadeInRight" style="color: rgb(6, 51, 51); font-weight:600;">Why Choose Us</h1>
                <p class="para2">Choose Olayiwola Aluminum for your aluminum solutions, and you'll benefit from timely delivery, unwavering quality, and dedicated fulltime support. Trust us to bring your vision to life with exceptional craftsmanship and unbeatable value. Experience the Olayiwola Aluminum advantage today.</p>
                <hr>


                <div class="row mb-3 mt-5">
                  <div class="col-md">
                    <p><img src="{{url_for('static', filename = 'image/icons-call.png')}}" alt="icon"> Fulltime Support</p>
                    <p class="para2"> We offer comprehensive support throughout your project journey. From initial consultations to post-installation assistance, our team is always available to address your queries and provide guidance.</p>
                  </div>

                  <div class="col-md">
                    <p><img src="{{url_for('static', filename = 'image/icons-clock.png')}}" alt="icon"> Ontime Deadline</p>
                    <p class="para2">At Olayiwola Aluminum, we take deadlines seriously. Our team is dedicated to meeting project timelines without compromising on quality.</p>
                  </div>
                </div>


                <div class="row">
                  <div class="col-md">
                    <p><img src="{{url_for('static', filename = 'image/icons-dollar.png')}}" alt="icon"> Low Price</p>
                    <p class="para2">We believe in delivering exceptional value to our clients. Despite offering top-quality aluminum solutions, we ensure our services are competitively priced, making your investment worth every penny.</p>
                  </div>

                  <div class="col-md">
                    <p><img src="{{url_for('static',filename = 'image/icons-settings.png')}}" alt="icon"> Hight Quality</p>
                    <p class="para2">Quality is at the core of everything we do. Our aluminum products and installations undergo rigorous quality checks, ensuring they meet the highest standards of durability and functionality.</p>
                  </div>

                </div>
              </div>

            </div>
          </div>
          <!--end-->
        </div>
    </main>
    <!--main end-->
    
    <!--footer start-->
   {%include 'footer.html'%}
    <!--footer end-->
    
    <script src="{{url_for('static', filename = 'bootstrap/js/bootstrap.bundle.js')}}"></script>
    <script src="{{url_for('static', filename = 'jquery.js')}}"></script>
</body>
</html>