{%include 'header.html'%}

    <!--main start-->
    <main>
        <div class="container-fluid mb-5">
            <div class="row project-row">
                <div class="col-md-3 project-col p-5">
                    <h2 class="animate__animated animate__fadeInDown mt-5 pt-5">Project</h2>
                </div>
                <div class="col-md"><h5 class="mt-5 pt-5">Witness the magnificence of our previous projects that reflect our unrivaled expertise and creativity. Our portfolio showcases an array of successfully completed ventures, each tailored to exceed expectations. Be inspired by our work and envision your next project with Olayiwola Aluminum.</h5></div>
            </div>
        </div>

         <!--Our Selected CompleteProjects start-->
         <div class="container-fluid Selected mb-5">
            <div class="container">
                 <!--bond start-->
               <h1 class="text-center pt-5 pb-3" style="color: rgb(6, 51, 51); font-weight:600;">Bond Supply</h1>

               <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/bond1.jpg')}}" alt="bond" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/bond2.jpg')}}" alt="bond" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/bond3.jpg')}}" alt="bond" width="100%" height="400px"></div>
              </div>
             
              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/bond4.jpg')}}" alt="bond" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/bond5.jpg')}}" alt="bond" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/bond6.jpg')}}" alt="bond" width="100%" height="400px"></div>
              </div>

              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/bond7.jpg')}}" alt="bond" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/bond8.jpg')}}" alt="bond" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/bond9.jpg')}}" alt="bond" width="100%" height="400px"></div>
              </div>

              <div class="row">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/bond10.jpg')}}" alt="bond" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/bond11.jpg')}}" alt="bond" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/bond12.jpg')}}" alt="bond" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/bond13.jpg')}}" alt="bond" width="100%" height="400px"></div>
              </div>
               <!--bond end-->


               <!--roofing sheet start-->
               <h1 class="text-center pt-5 pb-3" style="color: rgb(6, 51, 51); font-weight:600;">Roofing Sheet Supply</h1>

               <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/roofing-sheet1.jpg')}}" alt="roofing-sheet" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/roofing-sheet2.jpg')}}" alt="roofing-sheet" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/roofing-sheet3.jpg')}}" alt="roofing-sheet" width="100%" height="400px"></div>
              </div>

              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/roofing-sheet4.jpg')}}" alt="roofing-sheet" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/roofing-sheet5.jpg')}}" alt="roofing-sheet" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/roofing-sheet6.jpg')}}" alt="roofing-sheet" width="100%" height="400px"></div>
              </div>

              <div class="row">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/roofing-sheet7.jpg')}}" alt="roofing-sheet" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/roofing-sheet8.jpg')}}" alt="roofing-sheet" width="100%" height="400px"></div>
              </div>
                <!--roofing sheet end-->
            </div>
         </div>
          <!--Our Selected CompleteProjects end-->
    </main>
    <!--main end-->
    
     <!--footer start-->
    {%include 'footer.html'%}
    <!--footer end-->
    
    <script src="{{url_for('static', filename = 'bootstrap/js/bootstrap.bundle.js')}}"></script>
    <script src="{{url_for('static', filename = 'jquery.js')}}"></script>
</body>
</html>