{%include 'header.html'%}

    <!--main start-->
    <main>
        <div class="container-fluid mb-5">
            <div class="row project-row">
                <div class="col-md-3 project-col p-5">
                    <h2 class="animate__animated animate__fadeInDown mt-5 pt-5">Project</h2>
                </div>
                <div class="col-md"><h5 class="mt-5 pt-5">Witness the magnificence of our previous projects that reflect our unrivaled expertise and creativity. Our portfolio showcases an array of successfully completed ventures, each tailored to exceed expectations. Be inspired by our work and envision your next project with Olayiwola Aluminum.</h5></div>
            </div>
        </div>

         <!--Our Selected CompleteProjects start-->
         <div class="container-fluid Selected mb-5">
            <div class="container">
                <!--window start-->
              <h1 class="text-center pt-5 pb-3" style="color: rgb(6, 51, 51); font-weight:600;">Our Selected Complete Window<br> Projects</h1>

              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/window1.jpg')}}" alt="window" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/window2.jpg')}}" alt="window" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/window3.jpg')}}" alt="window" width="100%" height="400px"></div>
              </div>

              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/window4.jpg')}}" alt="window" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/window5.jpg')}}" alt="window" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/window6.jpg')}}" alt="window" width="100%" height="400px"></div>
              </div>

              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/window7.jpg')}}" alt="window" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/window8.jpg')}}" alt="window" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/window9.jpg')}}" alt="window" width="100%" height="400px"></div>
              </div>

              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/window10.jpg')}}" alt="window" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/window11.jpg')}}" alt="window" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/window12.jpg')}}" alt="window" width="100%" height="400px"></div>
              </div>

              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/window13.jpg')}}" alt="window" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/window14.jpg')}}" alt="window" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/window15.jpg')}}" alt="window" width="100%" height="400px"></div>
              </div>

              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/window16.jpg')}}" alt="window" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/window17.jpg')}}" alt="window" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/window18.jpg')}}" alt="window" width="100%" height="400px"></div>
              </div>

              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/window19.jpg')}}" alt="window" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/window20.jpg')}}" alt="window" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/window21.jpg')}}" alt="window" width="100%" height="400px"></div>
              </div>

              <div class="row mb-3">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/window22.jpg')}}" alt="window" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/window23.jpg')}}" alt="window" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/window24.jpg')}}" alt="window" width="100%" height="400px"></div>
              </div>

              <div class="row">
                <div class="col-md"><img src="{{url_for('static',filename = 'image/window25.jpg')}}" alt="window" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/window26.jpg')}}" alt="window" width="100%" height="400px"></div>
                <div class="col-md"><img src="{{url_for('static',filename = 'image/window27.jpg')}}" alt="window" width="100%" height="400px"></div>
              </div>
              <!--window end-->


               <!--window-blind start-->
               <h1 class="text-center pt-5 pb-3" style="color: rgb(6, 51, 51); font-weight:600;">Our Selected Complete Window Blind<br> Projects</h1>
              
               <div class="row mb-3">
                 <div class="col-md"><img src="{{url_for('static',filename = 'image/Wblind1.jpg')}}" alt="window-blind" width="100%" height="400px"></div>
                 <div class="col-md"><img src="{{url_for('static',filename = 'image/Wblind2.jpg')}}" alt="window-blind" width="100%" height="400px"></div>
                 <div class="col-md"><img src="{{url_for('static',filename = 'image/Wblind3.jpg')}}" alt="window-blind" width="100%" height="400px"></div>
               </div>
 
               <div class="row mb-3">
                 <div class="col-md"><img src="{{url_for('static',filename = 'image/Wblind4.jpg')}}" alt="window-blind" width="100%" height="400px"></div>
                 <div class="col-md"><img src="{{url_for('static',filename = 'image/Wblind5.jpg')}}" alt="window-blind" width="100%" height="400px"></div>
                 <div class="col-md"><img src="{{url_for('static',filename = 'image/Wblind6.jpg')}}" alt="window-blind" width="100%" height="400px"></div>
               </div>
 
               <div class="row">
                 <div class="col-md"><img src="{{url_for('static',filename = 'image/Wblind7.jpg')}}" alt="window-blind" width="100%" height="400px"></div>
                 <div class="col-md"><img src="{{url_for('static',filename = 'image/Wblind8.jpg')}}" alt="window-blind" width="100%" height="400px"></div>
               </div>
               <!--window-blind end-->

            </div>
         </div>
          <!--Our Selected CompleteProjects end-->
    </main>
    <!--main end-->

     <!--footer start-->
     {%include 'footer.html'%}
    <!--footer end-->
    
    <script src="{{url_for('static', filename = 'bootstrap/js/bootstrap.bundle.js')}}"></script>
    <script src="{{url_for('static', filename = 'jquery.js')}}"></script>
</body>
</html>